.main-content {
    margin: 0 auto; /* Center the content horizontally */
    padding: 20px; /* Add padding to create space around the content */
    background-color: transparent; /* Set background color */
}

.main-content-header {
    display: flex;
    align-items: center;
}

.main-content-title {
    margin-right: 50px; /* Remove any potential margins */
    padding: 0; /* Remove any potential padding */
}

.main-content-title p {
    margin: 0; /* Remove any potential margins */
    padding: 0; /* Remove any potential padding */
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    line-height: 56px;
    white-space: pre-line;
}

.main-content-title span {
    color: #212529;
}

.header-counter {
    margin: 0; /* Remove any potential margins */
    padding: 0; /* Remove any potential padding */
}

.header-counter div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 56px;
    background-color: rgba(221, 221, 221, 0);
    border-radius: 8px;
    border: 1px solid rgb(235, 235, 235);
}

.header-counter .count {
    margin: 0; /* Remove any potential margins */
    padding: 0; /* Remove any potential padding */
    font-size: 40px;
    line-height: 48px;
    white-space: nowrap;
    color: rgb(33, 37, 41);
}

.today-container {
    margin-top: 30px;
    top: 120px;
    left: 378px;
    width: auto;
    height: 366px;
    z-index: 7;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
    border: 1px solid rgb(235, 235, 235);
}

.today-container .today-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    align-self: stretch;
    width: auto;
    height: 366px;
    opacity: 1;
    background-color: rgba(250, 250, 250, 0);
}

.today-container .today-title {
    margin-left: 20px;
    margin-top: 20px;
}

.today-container .today-title p {
    width: 991px;
    height: 32px;
    flex-grow: 1;
    margin: 0px;
    overflow: hidden;
    font-size: 24px;
    font-weight: 600;
    text-transform: none;
    text-align: left;
    letter-spacing: 0px;
    line-height: 32px;
    white-space: pre-line;
    word-break: break-word;
    opacity: 1;
    visibility: visible;
}

.today-container .today-title span {
    color: #212529;
}

.addNewTaskContainer {
    width: calc(100% - 20px); /* 100% width minus 10px left and right padding */
    margin: 0 10px; /* Add 10px margin to the left and right */
}

.addNewTaskContainer div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    align-self: stretch;
    width: 100%; /* Width set to 100% to fill the container */
    height: 56px;
    opacity: 1;
    background-color: rgba(250, 250, 250, 0);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
    border: 1px solid rgb(235, 235, 235);
}
